@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

/* General use */
.align-in-row-left {
    display: flex;
    justify-content: left;
    align-items: left;
}

.align-in-row-center {
    display: flex;
    justify-content: center;
    align-items: center;
}

.section-heading {
    margin-bottom: 1rem;
    margin-bottom: 1rem;
}

.sidebar {
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    width: 265px;
    background: #16015a;
    z-index: 100;
    transition: all 0.5s ease;
}

.sidebar.close {
    width: 78px;
}

.sidebar .logo-details {
    height: 60px;
    width: 100%;
    display: flex;
    align-items: center;
}

.sidebar .logo-details i {
    font-size: 22px;
    color: #fff;
    height: 50px;
    min-width: 78px;
    text-align: center;
    line-height: 50px;
}

.sidebar .logo-details .logo-name {
    font-size: 22px;
    color: #fff;
    font-weight: 600;
    transition: 0.3s ease;
    transition-delay: 0.1s;
}

.sidebar.close .logo-details .logo-name {
    transition-delay: 0s;
    opacity: 0;
    pointer-events: none;
}

.sidebar .navigation-links {
    height: 100%;
    padding: 30px 0 150px 0;
    overflow: auto;
}

.sidebar.close .navigation-links {
    overflow: visible;
}

.sidebar .navigation-links::-webkit-scrollbar {
    display: none;
}

.sidebar .navigation-links li {
    position: relative;
    list-style: none;
    transition: all 0.4s ease;
}

.sidebar .navigation-links li:hover {
    background: #1d1b31;
}

.sidebar .navigation-links li .icon-link {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.sidebar.close .navigation-links li .icon-link {
    display: block;
}

.sidebar .navigation-links li i {
    height: 50px;
    min-width: 78px;
    text-align: center;
    line-height: 50px;
    color: #fff;
    font-size: 20px;
    cursor: pointer;
    transition: all 0.3s ease;
}

.sidebar .navigation-links li.showMenu i.arrow {
    transform: rotate(-180deg);
}

.sidebar.close .navigation-links i.arrow {
    display: none;
}

.sidebar .navigation-links li a {
    display: flex;
    align-items: center;
    text-decoration: none;
}

.sidebar .navigation-links li a .link-name {
    font-size: 15px;
    font-weight: 400;
    color: #fff;
}

.sidebar.close .navigation-links li a .link-name {
    opacity: 0;
    pointer-events: none;
}

.sidebar .navigation-links li .sub-menu {
    padding: 6px 6px 14px 80px;
    margin-top: -10px;
    background: #1d1b31;
    display: none;
    transition: all 0.5s ease;
}

.sidebar .navigation-links li.showMenu .sub-menu {
    display: block;
    transition: 0s;
}

.sidebar.close .navigation-links li .sub-menu {
    position: absolute;
    left: 100%;
    top: -10px;
    margin-top: 0;
    padding: 10px 20px;
    border-radius: 0 6px 6px 0;
    opacity: 0;
    display: block;
    pointer-events: none;
    transition: 0s;
}

.sidebar.close .navigation-links li:hover .sub-menu {
    top: 0;
    opacity: 1;
    pointer-events: auto;
    transition: all 0.4s ease;
}

.sidebar .navigation-links li .sub-menu a {
    color: #fff;
    font-size: 14px;
    padding: 5px 0;
    white-space: nowrap;
    opacity: 0.6;
    transition: all 0.3s ease;
}

.sidebar .navigation-links li .sub-menu a:hover {
    opacity: 1;
}

.sidebar .navigation-links li .sub-menu .link-name {
    display: none;
}

.sidebar.close .navigation-links li .sub-menu .link-name {
    display: none;
}

.sidebar.close .navigation-links li .sub-menu .link-name {
    font-size: 18px;
    opacity: 1;
    display: block;
}

.sidebar .navigation-links li .sub-menu .blank {
    opacity: 1;
    pointer-events: auto;
    padding: 3px 20px 6px 16px;
    opacity: 0;
    pointer-events: none;
}

.sidebar .navigation-links li:hover .sub-menu .blank {
    top: 50%;
    transform: translateY(-50%);
}

.sidebar .profile-details {
    position: fixed;
    bottom: 0;
    width: 265px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: #10023f;
    padding: 6px 0;
    transition: all 0.5s ease;
}

.sidebar.close .profile-details {
    width: 78px;
    background: none;
}

.sidebar .profile-details .profile-content {
    display: flex;
    align-items: center;
}

.sidebar .profile-details img {
    height: 52px;
    width: 52px;
    object-fit: cover;
    border-radius: 16px;
    margin: 0 14px 0 12px;
    background: #1d1b31;
    transition: all 0.5s ease;
}

.sidebar.close .profile-details img {
    padding: 10px;
}

.sidebar .profile-details .profile-name,
.sidebar .profile-details .profile-job {
    color: #fff;
    font-size: 15px;
    font-weight: 500;
    white-space: nowrap;
}

.sidebar.close .profile-details i,
.sidebar.close .profile-details .profile-name,
.sidebar.close .profile-details .profile-job {
    display: none;
}

.sidebar .profile-details .profile-job {
    font-size: 12px;
}

.dashboard-body {
    position: relative;
    background: #fff;
    height: 100vh;
    left: 265px;
    width: calc(100% - 265px);
    transition: all 0.4s ease;
}

.sidebar.close~.dashboard-body {
    left: 78px;
    width: calc(100% - 78px);
}

.dashboard-body .dashboard-content {
    height: 60px;
    display: flex;
    align-items: center;
}

.dashboard-body .dashboard-content .bx-menu,
.dashboard-body .dashboard-content .dashboard-heading {
    color: #11101d;
    font-size: 35px;
}

.dashboard-body .dashboard-content .bx-menu {
    margin: 0 15px;
    cursor: pointer;
}

.dashboard-body .dashboard-content .dashboard-heading {
    font-size: 26px;
    font-weight: 600;
}

.dashboard-topbar {
    width: 100%;
    height: 60px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 10px;
}

.search-bar {
    position: relative;
    width: 400px;
    margin: 0 10px;
}

.image-uploader {
    border-radius: 10px !important;
}

.search-bar input {
    width: 100%;
    height: 38px;
    border-radius: 40px;
    padding: 5px 10px;
    padding-left: 40px;
    font-size: 14px;
    outline: none;
    border: 2px solid #1d1b31;
}

.search-bar i {
    position: absolute;
    top: 10px;
    left: 15px;
    font-size: 1.2em;
}

.nav-right-side {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.notification-container i {
    font-size: 24px;
    margin-right: 50px;
    cursor: pointer;
}

.user-content {
    position: relative;
    width: 48px;
    height: 48px;
    border: 3px solid #fff;
    border-radius: 50%;
    overflow: hidden;
    cursor: pointer;
    margin-right: 20px;
}

.user-content img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.user-content:hover {
    transition: all 0.3s ease;
    box-shadow: 0 0px 20px 3px rgba(0, 0, 0, 0.2);
}

.dashboard-inner-content {
    margin: 2rem;
    font-size: 16px;
    padding: 1.5rem;
    border-radius: 10px;
}

.cards-section {
    position: relative;
    width: 100%;
    padding: 0 20px 40px 20px;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 30px;
}

.cards-section .card-content {
    position: relative;
    background: #fff;
    padding: 30px;
    border-radius: 10px;
    display: flex;
    justify-content: space-between;
    cursor: pointer;
    box-shadow: 0 7px 25px rgba(0, 0, 0, 0.08);
}

.cards-section .card-content:hover {
    background-color: #16015a;
    transition: all 0.3s ease;
}

.cards-section .card-content:hover .card-number,
.cards-section .card-content:hover .card-name,
.cards-section .card-content:hover .card-icon {
    color: #fff;

}

.cards-section .card-content .card-number {
    position: relative;
    font-weight: 500;
    font-size: 2.5em;
    color: #16015a;
}

.cards-section .card-content .card-name {
    color: #16015a;
    font-size: 1.1em;
    margin-top: 5px;
}

.cards-section .card-content .card-icon {
    font-size: 3.5em;
    color: #16015a;
}

.chart-section .dashboard-charts {
    position: relative !important;
    display: grid !important;
    grid-template-columns: repeat(2, 1fr) !important;
    grid-gap: 30px !important;
}

.chart-section .dashboard-charts .chart canvas {
    width: 100% !important;
    height: 400px !important;
}

/*  Navbar */

.nav-right-side .user-icon-dropdown {
    position: relative;
    display: inline-block;
}

.nav-right-side .dropdown-content {
    display: none;
    position: absolute;
    top: 50px;
    right: 0;
    background-color: #fff;
    border-radius: 5px;
    min-width: 200px;
    /* box-shadow: 0 7px 25px rgba(0,0,0,0.2); */
    box-shadow: 0 5px 10px 3px rgba(0, 0, 0, 0.2);
    z-index: 1;
}

.nav-right-side .dropdown-content a {
    color: #11101d;
    padding: 12px 19px;
    text-decoration: none;
    display: block;
}

.nav-right-side .dropdown-content a:hover {
    background-color: #d2d1d1;
}

.nav-right-side .user-icon-dropdown .dropdown-content.active {
    display: block;
}

/* .nav-right-side .user-icon-dropdown .dropbtn {
background-color: #3e8e41;
} */

.nav-right-side .dropdown-content .user-link {
    list-style: none;
    display: flex;
    align-items: center;
    justify-content: left;
}

.nav-right-side .dropdown-content .user-link a {
    width: 100%;
}

.nav-right-side .dropdown-content-text {
    text-align: center;
    padding: 1rem;
    font-size: 16px;
    font-weight: 600;
}

/* Profile Related */

.profile-content-wrapper {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-auto-rows: minmax(100px, auto);
    grid-gap: 1em;
    justify-items: stretch;
    align-items: stretch;
}

.profile-content-wrapper>div {
    /* background: #eee; */
    padding: 1em;
}

.profile-content-wrapper>div:nth-child(odd) {
    /* background: #ddd; */
}

.profile-img-box {
    grid-column: 1/4;
    /* grid-row: 1/2; */
    align-self: center;
    justify-self: center;
}

.profile-img-box img {
    width: 200px;
    height: 200px;
    background: cover;
    object-fit: cover;
    background-color: #10023f;
    /* align-items: center; */
    border-radius: 50%;
    border: 5px solid #10023f;
    box-shadow: 0px 0px 15px 0px gray;
    /* position: absolute; */
    /* top: 50%;
    left: 18%; */
    /* transform: translate(-50%, -50%); */
}

.profile-info-block-1-box {
    grid-column: 1/4;
    /* grid-row: 1/2; */
}

.profile-info-block-1-box .profile-form>div {
    padding: 10px 0px 10px 0px;
}

.profile-info-block-2-box {
    grid-column: 1/4;
    /* grid-row: 2/3; */
}

.form-control:focus {
    border-color: #10023f;
    box-shadow: none;
    border: solid 2px #10023f;
}

.profile-form label {
    padding-bottom: 10px;
}

.btn-submit {
    background: #10023f;
    color: #fff;
    width: 150px !important;
}

.btn-submit:hover {
    background: #10023f;
    color: #fff;
}

/* Login - Form Related */

.login-form-box {
    /* border: #000 solid 5px; */
    height: 500px;
    width: 400px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    box-shadow: 0px 0px 20px 0px gray;
    border-radius: 25px;
    background: #fff;
}

.login-form-box .login-form {
    padding: 2rem;
}

/* .login-form-header,
.login-form-body,
.login-form-footer {
    border: #000 solid 5px;
} */

.login-form-header {
    min-height: 115px;
}

.login-form-body {
    height: calc(450px - 125px);
}

.login-form-footer {
    min-height: 30px;
}

.form-control:focus {
    border-color: #10023f;
    box-shadow: none;
    border: solid 2px #10023f;
}

.btn-sign-in-submit {
    background: #10023f;
    color: #fff;
    width: 100% !important;
}

.btn-sign-in-submit:hover {
    background: #10023f;
    color: #fff;
}

/* Alert */
.alert-notify {
    display: flex !important;
    width: calc(100% - 30px);
    max-width: 600px;
    padding-right: 80px;
    color: rgba(255, 255, 255, 0.85);
    box-shadow: 0 3px 10px rgba(0, 0, 0, 0.15);
}

.alert-notify:hover {
    z-index: 1081 !important;
}

.alert-notify:not(.alert-info):not(.alert-success):not(.alert-warning):not(.alert-danger) {
    background-color: rgba(0, 0, 0, 0.95);
}

.alert-notify:not(.alert-info):not(.alert-success):not(.alert-warning):not(.alert-danger) .alert-notify-close {
    color: #ffd600;
}

.alert-notify:not(.alert-info):not(.alert-success):not(.alert-warning):not(.alert-danger) .alert-notify-close:hover {
    opacity: 0.8;
}

.alert-notify .alert-icon.ni {
    position: relative;
    top: 4px;
}

.alert-notify .alert-title {
    font-size: 1rem;
    font-weight: 600;
    display: block;
}

.alert-notify .close {
    top: 1rem !important;
    right: 1.5rem !important;
    transform: translateY(0);
}

.custom-alert {
    box-shadow: 0 7px 25px rgba(0, 0, 0, 0.08);
    border: none !important;
    outline: none !important;
}

.custom-alert .bx::before {
    /* margin-bottom: -110px !important; */
    font-size: 20px !important;
}

.alert-close {
    color: #fff !important;
    background: transparent !important;
    border: none !important;
    outline: none !important;
}

/* Validation errors */
.help-block {
    font-size: 14px !important;
    color: red;
}

.mandatory_indicator {
    color: red;
}

.section-heading .back-button i {
    border-radius: 50%;
    border: 3px solid #10023f;
    font-size: 30px;
    margin-right: 40px;
    padding: 5px;
    text-decoration: none;
    color: #10023f;
    background: #fff;
    transition: .3s ease-in-out all;
}

.section-heading .back-button i:hover {
    background: #10023f;
    color: #fff;
}

.paginate_button {
    border-radius: 50% !important;
}

.table .form-select,
.table .form-control {
    border-radius: 40px !important;
}

/* Select 2 Design */
.select2 {
    width: 100% !important;
}

.select2 .select2-selection {
    min-height: 35px auto !important;
}

.select2 .select2-selection:focus {
    border: #16015a 2px solid !important;
    box-shadow: none !important;
}

.select2-selection .select2-selection__arrow {
    margin-top: 2px !important;
}

.select2 .select2-selection__rendered {
    padding-top: 3px !important;
}

.select2-results__option--highlighted {
    background-color: #10023f !important;
}

.select2-results__option:hover {
    background-color: #16015a !important;
}

/* Tiny MCE */

.tox-tinymce {
    border-radius: 10px !important;
}

/*  */

/* post */

.post-content-desc {
    padding: 1rem;
}

/* Notification system related */

.notification-container {
    width: 100px;
    /* margin-left: 0px; */
    position: relative;
}

.click .bx {
    color: #000;
}

.click,
.links {
    padding: 15px 12px 0px 10px;
    font-size: 1.2em;
    border: none;
    outline: none;
    width: 300px;
    color: #fff;
    transition: .3s;
    cursor: pointer;
}

.notify-list {
    position: absolute;
    transform: scaleY(0);
    transform-origin: top;
    transition: .3s;
    margin: 10px 0 0 -128.5px;
    width: 290%;
    height: auto;
    background: #fff;
    border-radius: 10px;
    box-shadow: 0px 0px 20px 3px rgba(0, 0, 0, 0.125);
    z-index: 99;
    /* margin: 55px auto 0; */
}

.list-active {
    transform: scaleY(1);
}

.links {
    /* background-color: #283c63; */
}

.links:hover {
    /* background-color: #01579B; */
    transform: scale(1.02);
}

.notification-container .notify-list .notification-box-header p {
    text-align: center;
    margin: 15px 10px 10px 10px;
    font-weight: 600;
}

.notification-container .notify-list .notification-box-header hr {
    margin: 0;
}

.notification-container .notify-list .links.unread-notification a {
    font-weight: 600;
}

.notification-container .notify-list .links:last-child a {
    border-bottom: 0px;
}

.notification-container .notify-list .links a .notification-image {
    margin: 0 15px 0 0px;
}

.notification-container .notify-list .links a .notification-image img {
    border-radius: 50%;
    box-shadow: 0px 0px 10px 1px rgba(0, 0, 0, 0.125);
}

.notification-container .notify-list .links a {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px 0px 10px 10px;
    border-bottom: 1px solid #dbdaff;
    font-weight: 400;
    text-decoration: none;
    color: #000;
}

.notification-container .notify-list .links a .notification-info p {
    margin: 0px 20px -3px 0px;
    font-size: 15px;
    width: 180px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.notification-container .notify-list .links .notification-info p span {
    color: #605dff;
}

.notification-container .notify-list .links .notification-info .notification-time {
    color: #c5c5a6;
    font-size: 12px;
    margin: 0;
}

.notification-container .notify-list::before {
    content: "";
    position: absolute;
    top: -25px;
    left: 52%;
    transform: translate(-50%);
    border: 15px solid;
    border-color: transparent transparent #fff transparent;
}

.notification-section-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.dashboard-notifications .notifications-items {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.dashboard-notifications .notifications-items .notification-block {
    display: flex;
    align-items: center;
    border-radius: .5rem;
    padding: 1rem;
    transform: scale(1);
    transition: .3s;
    box-shadow: 0px 0px 10px 3px rgba(0, 0, 0, 0.125);
}

.dashboard-notifications .notifications-items .notification-block:hover {
    transform: scale(1.02);
    transition: .3s;
}

.dashboard-notifications .notifications-items .notification-block img {
    border-radius: 50%;
    width: 50px;
    box-shadow: 0px 0px 20px 3px rgba(0, 0, 0, 0.125);
}

.dashboard-notifications .notifications-items .notification-block .notification-description {
    margin-left: 2rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

/* notification-other-details */
.padding-sides {
    margin-left: 20px;
    margin-right: 20px;
}

.dashboard-notifications .notifications-items .notification-block .notification-description p {
    margin-bottom: 0;
}

.dashboard-notifications .notifications-items .notification-block .notification-description .notification-time-difference {
    font-size: 13px;
}

.dashboard-notifications .notifications-items .notification-block.unread-notification-item {
    /* background-color: rgba(208, 212, 212, 0.41); */
    background-color: rgba(171, 207, 254, 0.41);
}

.mark-as-read-button button {
    background: #16015a;
    color: #fff;
    border-radius: 5px;
    padding: 0px 10px 0 10px;
    transform: scale(1);
    transition: .3s;
}

.mark-all-as-read-button button {
    background: #16015a;
    color: #fff;
    border-radius: 5px;
    padding: 5px 15px 5px 15px;
    transform: scale(1);
    transition: .3s;
}

.mark-as-read-button button:hover {
    transform: scale(1.02);
    transition: .3s;
}

.mark-all-as-read-button button:hover {
    transform: scale(1.02);
    transition: .3s;
}

/* Design Responsive */
@media (max-width: 1220px) {
    .dashboard-inner-content {
        margin: 1rem;
        font-size: 14px;
    }

    .notification-container i {
        margin-right: 30px;
    }

    .cards-section {
        grid-template-columns: repeat(2, 1fr);
    }

    .chart-section .dashboard-charts {
        grid-template-columns: repeat(1, 1fr) !important;
    }

    .chart-section .dashboard-charts .chart canvas {
        height: 300px !important;
    }
}

@media (max-width: 768px) {
    .dashboard-inner-content {
        margin: 0.5rem;
        font-size: 13px;
    }

    .notification-container i {
        margin-right: 10px;
    }

    .cards-section {
        grid-template-columns: repeat(1, 1fr);
    }

    .chart-section .dashboard-charts {
        grid-template-columns: repeat(1, 1fr) !important;
    }

    .chart-section .dashboard-charts .chart canvas {
        height: 200px !important;
    }
}